.title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  padding-top: 40px;
}

.resetcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 200px;
  background: white;
  padding-bottom: 30px;
  width: 600px;
  height: 500px;
}
.resetsubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background-color: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  outline: 0;
}
.newsubmit {
  display: flex;
  justify-content: center;
  height: 59px;
  color: white;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  outline: 0;
  width: 100%;
  margin-top: 80px;
}

.overall {
  margin-top: 60px;
}

.titlenew {
  color: black;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 20px;
}
